@charset "utf-8";

/*===============================================
* event_top
===============================================*/
.event-nav {
	nav {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		
		a {
			position: relative;
			padding: 1.5rem;
			width: calc(100%/4);
			background: #f3f3f3;
			text-align: center;
			text-decoration: none;
			border-bottom: 2px solid #fff;
			&:not(first-child), span:not(first-child){
   		 border-left: 2px solid #fff;
			}
			&:before {
				position:absolute;
				left:3px;
				top:0;
				content:'';
				display:block;
				width:36px;
				height:100%;
				background:url(https://img.jusnet.co.jp/career/common/icon-arrow-right-navy.svg) no-repeat center;
				background-size:8px 15px;
			}
      &.current,&:hover{
				color:#fff;
				background:#00255c;
			}
			&.current:before,&:hover:before{
				-moz-transform:rotate(90deg);
				-ms-transform:rotate(90deg);
				-webkit-transform:rotate(90deg);
				transform:rotate(90deg);
				background-image:url(https://img.jusnet.co.jp/career/common/icon-arrow-right-white.svg);
			}
		}
	}
}

.event--open {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	li {
    border: none;
    padding: 0;
    width: calc(100% / 3 - 2rem);
    height: auto;
    position: relative;
    margin: 3rem 0;
		
		&:nth-of-type(3n-1){
      margin: 3rem;
    }
		
		figure {
      min-height: 160px;
			width: auto;
      margin-right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 1px #efefef;
			img {
				width: 100%;
			}
			&.logo {
				img {
					max-width: 130px;
					width: 100%;
				}
			}
    }

    .list--cnt {
      width: inherit;
      margin-left: 0 0 0 4rem;
			
			h4 {
        font-size: 1.5rem;
        line-height: 1.5;
        margin: 10px 0 10px 0;
      }

      time {
        color: #9a9a9a;
        font-size: 1.3rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.3rem;
        margin: 0;
				font-weight: bold;
      }
			
			.tags {
				.event-tag {
					display: inline-block;
					margin-top: 10px;
					color: #fff;
					padding: 2px 6px;
					font-size: 1.1rem;
					&.recruit {
						background: #f05151;
					}

					&.careerup {
						background: #8BC34A;
					}

					&.consultation {
						background: #19a0d7;
					}

					&.skillup {
						background: #FFC107;
					}
				}
			}
    }

    a {
      display: block;
      color: #1f1f1f;
			text-decoration: none;

      &:hover {
        opacity: 0.85;
      }
    }
  }
}

.event--close {
		li {
		display: flex;
		height: auto;
		border-bottom: solid 1px #efefef;
		padding: 1.5rem 0;
		align-items: center;
		.info-area {
			min-width: 330px;
			.entry {
				background: #efefef;
				display: inline-block;
				padding: 2px 6px;
				font-size: 1.3rem;
				margin-right: 10px;
			}

			.day {
				font-size: 1.3rem;
				color: #9a9a9a;
				display: block;
    		margin: 0.5rem 0;
			}
		}
	}
}


@media only screen and (max-width: 767px) {
	.event-nav {
		nav {
			a {
				font-size:1.1rem;
				padding:1rem;
				width: 100%;
				&:not(first-child){
				border-left:1px solid #fff;
				}
				&:before{
					left:0;
					width:20px;
					background-size:5px 10px;
				}
			}
		}
	}

	.event--open {
		flex-direction: column;
		li {
			width: 100%;
			margin: 1.5rem 0;
		
			&:nth-of-type(3n-1){
				margin: 1.5rem 0;
			}

			a {
				width: 100%;
			}

			.tags {
				margin-top: 7px;

				span {
					min-width: 75px;
					height: 18px;
					line-height: 18px;
					font-size: 1.1rem;
				}
			}

			.list--cnt {
				font-size: 1.1rem;

				h4 {
					margin: 5px 0 0;
					font-size: 1.3rem;
				}

				time {
					margin: 5px 0;
				}
			}
		}
	}
	.event--close{
		li {
				padding: 10px 0;
				display: block;
				.entry {
				font-size: 1.1rem;
				margin-right: 5px;
			}
		}
	}
}