@charset "utf-8";
/*/////////////////////////////////
commmon
/////////////////////////////////*/
	html {
		font-size: 10px;
		letter-spacing: 2px;
		font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
	}
	
	main {
		display: block;
		width: 100%;
		margin: 0 auto;
		font-size: 1.6rem;
		line-height: 1.6;
	}
	
	h2 {
		font-size: 4rem;
		text-align: center;
	}

	p {
		font-size: 1.6rem;
		line-height: 1.8;
	}

	p+p {
		margin: 1.6rem 0 0 0;
	}

	figure > img {
		max-width: 100%;
		width: auto;
	}

	.common {
		position: relative;
	}

	.inner0 {
		position: relative;
		padding: 0;
	}

	.inner {
		position: relative;
		padding: 6rem 0;
	}
	
	.inner2 {
		position: relative;
		margin-top: 6rem;
		padding: 0 0 6rem 0;
	}

	.inner3 {
		position: relative;
		padding: 9rem 0;
	}

	.full {
		display: block;
		width: 100%;
	}

	.container {
		display: block;
		max-width: 1200px;
		width: auto;
		margin: 0 auto;
	}

	.bgimage1 {
		background: url("https://img.jusnet.co.jp/career/event/resume_cv/bg_mv.jpg") no-repeat;
		background-size: cover;
		max-width: 1920px;
		min-height: 430px;
		width: 100%;
		height: 100%;
	}
	
	.bgimage2 {
		background: url("https://img.jusnet.co.jp/career/event/resume_cv/dot-grid.png") repeat;
	}
	
	.bgimage3 {
		background: url("https://img.jusnet.co.jp/career/event/resume_cv/bg01.jpg") no-repeat top;
		background-size: cover;
		background-attachment: fixed;
		width: 100%;
		padding: 0 0 8rem 0;
		margin-left: auto;
		margin-right: auto;
	}

	.bgcolor1 {
		background-color: #209b7e;
	}

	.bgcolor2 {
		background-color: #fafafa;
	}

	.bgcolor3 {
		background-color: #0d1661;
	}

	[class*="type"] {
		margin: 0 0 3.5rem auto;
		color: #3a3a3a;
	}	

	.type1 {
		color: #ffffff;
	}
	
	.type3 {
		background-color: #218fb5;
		color: #ffffff;
		padding: 5.4rem 0;
		line-height: 1;
	}

	.type3a {
		background-color: #05a98e;
		color: #ffffff;
		padding: 5.4rem 0;
		margin: 0 auto;
		line-height: 1;
	}

	.type3a:before,
	.type3a:after {
		content: '|';
		display: inline-block;
		position: relative;
		top: 5px;
		left: -5px;
		width: 35px;
	}

	.type3a:before {
		transform: rotate(135deg);
	}

	.type3a:after {
		transform: rotate(-135deg);
	}
	
	.type4 {
		color: #ffffff;
		padding: 5.4rem 0;
		line-height: 1;
		margin: 0
	}

	.box1 {
		border: 1px solid #ffffff;
		color: #ffffff;
		box-sizing: border-box;
		padding: 4.5rem;
		max-width: 1200px;
	}

	.box2 {
		border: 1px solid #05a98e;
		color: #3a3a3a;
		border-radius: 20px;
		box-sizing: border-box;
		padding: 4.5rem;
		max-width: 1200px;
	}

	.box2a {
		border: 2px solid #ffe260;
		color: #3a3a3a;
		box-sizing: border-box;
		padding: 4.5rem;
		max-width: 1200px;
	}

	.box2b{
		border: 2px solid #ffe260;
		color: #3a3a3a;
		box-sizing: border-box;
		padding: 4.5rem;
		max-width: 1200px;
		box-shadow: 10px 10px 1px #f5d135;
	}

@media all and (max-width: 767px){
	h2 {
		font-size: 6vw;
	}
	
	.container {
		display: block;
		margin: 0 1.6rem;
	}
	
	#mv > .container{
		display: block;
		margin: 0 auto;
	}
	
	.bgimage1 {
    background: url("https://img.jusnet.co.jp/career/event/resume_cv/bg_mv.jpg") no-repeat;
		min-height: auto;
    background-size: cover;
	}
	
	.bgimage3 {
		background-attachment: fixed;
	}
	
	.box1,.box2 {
		padding: 1.6rem;
	}
	
	.inner {
		padding: 3.5rem 0 5rem 0;
	}
	
	.inner2 {
		margin-top: 2.5rem;
		padding: 0 0 5rem 0;
	}
	
	.inner3 {
		padding: 5rem 0;
	}
	
	.type3,
	.type3a,
	.type4 {
		padding: 3rem 0;
		font-size: 5vw;
	}
	
}

/*/////////////////////////////////
mv
/////////////////////////////////*/

	#mv figure h2{
		font-size: 1rem;
		text-align: left;
	}

	#mv figure h2 img {
		margin: 2em 0;
		width: 100%;
	}

/*/////////////////////////////////
mvbtn
/////////////////////////////////*/

	#mvbtn  div {
		height: auto; /* ajust for logo */
		padding: 2rem 0 4rem;
	}


@media all and (max-width: 767px){
	#mvbtn  div {
		height: auto; /* ajust for logo */
	}
	
}
/*/////////////////////////////////
btn
/////////////////////////////////*/
	
	.btn > a{
		display: block;
    color: #ffffff;
    text-align: center;
    background: #ff9e14;
    font-size: 2.4rem;
    line-height: 1;
    letter-spacing: 0.5px;
    padding: 2.2rem 0;
    max-width: 524px;
    width: 100%;
    word-wrap: break-word;
    border-radius: 35px;
    box-shadow: 3px 3px 3px #ab6a0e;
    position: relative;
    margin: 0 auto;
	}

	.btn > a:hover {
		opacity: 0.8;
		box-shadow: none;
		transform: translateY(5px);
		transition-duration: 0.25s;
	}

	.btn > a:after {
		position: relative;
    content: "\f105";
    left: 2rem;
    font-family: "FontAwesome";
    font-weight: 900;
	}

	#cv .btn > a {
		margin: 0 auto;		
	}

@media all and (max-width: 767px){
	.btn > a {
		font-size: 6.5vw;
		border-radius: 0;
	}
	
	#mv > div > .btn {
    top: 44.5vw;
	}
}
/*/////////////////////////////////
logo
/////////////////////////////////*/
	
	#logo figure {
		text-align: center;
		padding:4rem 0;
		line-height: 0;
	}

/*/////////////////////////////////
catch
/////////////////////////////////*/

	#catch .catch-bg {
		padding: 5rem 0;
		background: #f5f5f5;
	}

	#catch .catch-bg .catch-area {
		display: block;
		max-width: 900px;
		width: auto;
		margin: 0 auto;
	}

	#catch .catch-bg .catch-area p{
		font-size: 2rem;
    	font-weight: bold;
	}

	#catch .catch-bg .catch-area p span {
		color: #05a98e;
		font-size: 2.4rem;
		text-decoration: none;
	}

	#catch .catch-bg .catch-area span.pr {
		font-size: 2.8rem;
		font-weight: bold;
		text-decoration: underline;
	}

	@media all and (max-width: 767px){
		#catch .catch-bg {
			padding: 1rem;
			line-height: 2;
		}

		#catch .catch-bg .catch-area p {
			font-size: 3vw;
		}

		#catch .catch-bg .catch-area p span {
			font-size: 4vw;
		}

		#catch .catch-bg .catch-area span.pr {
			font-size: 5vw;
		}
	}

/*/////////////////////////////////
outline
/////////////////////////////////*/

	#outline > article > p {
		font-size: 1.8rem;
	}

	#outline > article > p+p {
		margin: 2rem 0 0 0;
	}

@media all and (max-width: 767px){
	#outline > article > p {
		font-size: 1.6rem;
	}

	#outline > article > p+p {
		margin: 1.6rem 0 0 0;
	}
}

/*/////////////////////////////////
detail
/////////////////////////////////*/

	#detail dl {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		border-left: 1px solid #e6fffb;
		border-right: 1px solid #e6fffb;
		border-bottom: 1px solid #e6fffb;
	}

	#detail dl > dt,
	#detail dl > dd {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 2.6rem 0;
		/*margin-bottom: 2px;*/
		font-weight: 600;
	}
	
	#detail dl:nth-child(2n) > dt,
	#detail dl:nth-child(2n) > dd	{
		background: #e6fffb;
	}
	
	#detail dl > dt {
		width: 25%;
		box-sizing: border-box;
		border-right: 1px solid #ffffff;
		text-align: center;
	}

	#detail dl > dd {
		width: 75%;
	}

	#detail dl > dt > p,
	#detail dl > dd > p {
		padding: 0.5rem 1.6rem;
	}

@media all and (max-width: 767px){
	#detail dl {
		flex-direction: column;
		border: 1px solid #e6fffb;
	}
	
	#detail dl > dt,
	#detail dl > dd{
		width: auto;
		text-indent: 0;
		padding: 1.6rem;
	}
	
	#detail dl:nth-child(2n) > dd	{
		background: none;
	}
	
	#detail dl > dt {
		background: #e6fffb;
	}
}

/*/////////////////////////////////
profile
/////////////////////////////////*/
	
	.prof-block {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin: 8rem auto;
	}
	
	.prof-block > figure > picture {
		margin: 0;
		padding: 0;
		max-width: 200px;
    	width: 100%;
	}

	.prof-block figure > picture > img {
		width: auto;
		border-radius: 100%;
    	border: 1px solid #218fb5;
	}
	
	.prof-block > .prof-detail {
		margin: 0 4rem;
		color: #1b3b69;
		max-width: 1000px;
		width: 100%;
	}
	
	.prof-block > .prof-detail > h3 {
		font-size: 3.2rem;
		margin-bottom: 1rem
	}
	
	.prof-block > .prof-detail > h4 {
		font-size: 1.8rem;
		margin-bottom: 1.8rem
	}
@media all and (max-width: 767px){
	.prof-block {
		flex-direction: column;
		margin: 5rem auto 0;
	}
	
	.prof-block > figure {
		max-width: 150px;
		width: 100%;
		margin: 0 auto;
	}

	.prof-block > figure > picture {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		margin: 0 auto;
	}

	.prof-block figure > picture > img {
		max-width: 150px;
		width: 100%;
	}
	
	.prof-block > .prof-detail {
    margin: 0 2rem;
		width: auto;
	}
	
	.prof-block > .prof-detail > h3 {
		font-size: 2.2rem;
	}
}

/*/////////////////////////////////
faq
/////////////////////////////////*/
	
	#faq details {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		max-width: 700px;
    width: 100%;
    margin: 2.5rem auto 0;
	}

	#faq details > summary,
	#faq details > p {		
		padding: 1.6rem 0 0 0;
    /* text-indent: -2rem; */
    /* margin-left: 2rem; */
		color: #ffffff;
	}
	
	#faq details > summary {
		font-size: 2rem;
		font-weight: bold;
		cursor: pointer;
	}

	#faq details > p {
		font-size: 1.6rem;
		font-weight: normal;
		margin-left: 2.6rem;
	}

	#faq details > p > a {
		text-decoration: underline;
		cursor: pointer;
	}

	#faq details > p > a:hover {
		text-decoration: none;
	}

@media all and (max-width: 767px){
	#faq details > p {
		margin-left: 0;
	}
}

/*/////////////////////////////////
contactFrom
/////////////////////////////////*/

#contactForm .form {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#contactForm .form .btn {
	display: block;
	width: 50%;
	padding: 5vh;
	font-size: 2.4rem;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
}

#contactForm .form .btn.close {
	display: block;
	width: 100%;
	padding: 5vh;
	font-size: 2.4rem;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
}

#contactForm .form .btn:not(.close):hover {
	opacity: 0.95;
	transform: translateY(-5px);
	transition-duration: 0.3s;
}

#contactForm .regist {
	background: #b70929;
}

#contactForm .login {
	background: #209b7e;
}

#contactForm .close {
	background: #7e7e7e;
}

@media all and (max-width: 767px){
	#contactForm .form .btn {
		font-size: 2rem;
	}
}